<template>
  <div class="basket__product">
    <div class="basket__img-container">
      <img class="basket__img" :src="url" alt="">
    </div>
    <div class="basket__description">
      <div class="basket__name">{{food.title}}</div>
      <div class="basket__composition">{{food.desc}}</div>
    </div>
    <div class="basket__price">
      <div class="basket__text">Цена</div>
      <div class="basket__text basket__text_bold">{{food.price}}</div>
    </div>
    <div class="basket__count-container basket__count-container_column">
      <div class="basket__text">Количество</div>
      <div class="basket__count-container">
        <div class="basket__btn basket__btn_add" @click="removeCount">-</div>
        <input class="basket__count" type="number" :value="count" @change="changeFoodCount">
        <div class="basket__btn basket__btn_dlt" @click="addCount">+</div>
      </div>
    </div>
    <div class="basket__price">
      <div class="basket__text">Цена</div>
      <div class="basket__text basket__text_bold">{{ multiply(food.price, count) }}</div>
    </div>
    <div class="basket__remove basket__btn" @click="removeFood">X</div>
  </div>
</template>

<script>
  export default {
    name: "basket",
    props: {
      food: {
        default: {}
      },
      count: {
        default: 0
      },
      id: {
        default: ''
      },
      url: {
        default: ''
      }
    },
    data() {
      return {
        countFood: this.count
      }
    },
    methods: {
      multiply(food, count) {
        return food * count
      },
      changeFoodCount(e) {
        this.$emit('changeFoodCount', {food: this.food, count: +e.target.value, foodId: this.id})
      },
      removeFood() {
        this.$emit('changeFoodCount', {food: this.food, count: 0, foodId: this.id})
      },
      addCount() {
        this.$emit('changeFoodCount', {food: this.food, count: +(this.count + 1), foodId: this.id})
      },
      removeCount() {
        this.$emit('changeFoodCount', {food: this.food, count: +(this.count - 1), foodId: this.id})
      }
    }
  }
</script>

<style scoped lang="scss">
  .basket {

    &__header {

    }

    &__name {
      font-size: 18px;
      font-weight: bold;
    }

    &__description {
      flex: 1 1;

    }

    &__composition {
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &__products {
      background: #f5e6d0;
      width: 1240px;
      border-radius: 10px;
      margin: 0 auto;
    }

    &__product {
      width: 100%;
      height: 100px;
      padding: 16px;
      border-bottom: 5px dotted white;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }

    &__count-container {
      display: flex;
      align-items: center;

      &_column {
        justify-content: center;
        flex-direction: column;
      }
    }

    &__count {
      margin: 0 16px;
      font-size: 14px;
      border: 1px solid #9e9586;
      border-radius: 3px;
      width: 65px;
      padding: 10px;
      box-sizing: border-box;

      &:before {
        content: 'Количество';
      }
    }

    &__btn {
      width: 26px;
      height: 26px;
      margin: 0 15px;
      line-height: 0;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #edb01e;
      border-radius: 50%;
      color: #fff;
    }

    &__img-container {
      width: 100px;
      height: 76px;
      margin-right: 16px;
      border-radius: 10px;
      @media screen and (max-width: 1000px) {
        width: auto;
        height: auto;
        margin: 0;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    &__price {
      text-align: center;
      margin: 0 32px;
      @media screen and (max-width: 1000px) {
        margin: 10px 32px;
      }
    }

    &__text {
      &_bold {
        font-weight: bold;
      }
    }

  }
</style>
