<template>
  <div class="card">
    <div class="card__img-container" :class="{'card__img-container_active':added}" :style="imgBackgraund">
      <img class="card__img" :src="imgBackgraund" alt="">
    </div>
    <div class="card__container">
      <div class="card__name"> {{food.title}}</div>
      <div class="card__description"> {{food.desc}}
      </div>
      <div class="card__footer">
        <input min="1" type="number" class="card__count" v-model="count">
        <div class="card__select" @click="addFoodToBasket">
          <div class="card__price-icon"></div>
          <div class="card__price"> {{food.price * count }} ₽</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    name: "Card",
    props: {
      categoryUrl: {
        default: '/rolls/'
      },
      food: {
        default: ''
      },
      id: {
        default: ''
      }
    },
    data() {
      return {
        count: 1,
        added: false

      }
    },
    computed: {
      imgBackgraund() {
        return `${this.categoryUrl}${this.food._id}.jpg`
      }
    },
    methods: {
      ...mapActions({changeFood: 'basket/changeFood'}),

      addFoodToBasket() {
        this.startAddedAnim();

        const foodObject = {
          food: this.food,
          foodId: this.id,
          count: +this.count,
          url: this.imgBackgraund
        };
        this.changeFood(foodObject);
      },

      startAddedAnim() {
        this.added = true;
        setTimeout(() => {
          this.added = false
        }, 500)
      }
    }
  }
</script>

<style scoped lang="scss">
  .card {
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    background: #f5e6d0;
    margin: 10px auto;
    flex-direction: column;
    transition: 0.3s;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
      transform: translateY(-3px);
    }


    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

  }

  .card__container {
    padding: 10px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;

  }

  .card__img-container {
    border-radius: 5px 5px 0 0;
    background: no-repeat center /contain;
    height: 145px;
    position: relative;

    &:before {
      content: 'Добавлено';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      transition: 0.5s;
      text-align: center;
      opacity: 0;
      background: rgba(255, 244, 225, 0.9);
    }

    &_active {
      &:before {
        height: 90px;
        opacity: 1;
      }
    }


  }

  .card__price-icon {
    width: 20px;
    margin-right: 10px;
    background: url("../static/cart.png") no-repeat center;
  }

  .card__select {
    background: #edb01e;
    display: flex;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3;

    &:hover {
      background: #dea51e;
    }
  }

  .card__name {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    flex: 1 1;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .card__description {
    width: 100%;
    font-size: 11px;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex: 1 1;
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
  }

  .card__count {
    font-size: 14px;
    border: 1px solid #9e9586;
    border-radius: 3px;
    width: 65px;
    padding: 10px;
    box-sizing: border-box;
  }

  .card__price {
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
</style>
