<template>
  <div class="header">
    <div class="container container_flex container_align_center container_justify_between">
      <div class="nav-bar">
        <div class="header__logo">
          <Logo></Logo>
        </div>
        <div class="nav-bar__link-container">
          <nuxt-link to='/menu' class="nav-bar__link">Меню</nuxt-link>
          <nuxt-link to='/stocks' class="nav-bar__link">Акции</nuxt-link>
          <nuxt-link to='/delivery' class="nav-bar__link">Доставка</nuxt-link>
        </div>
        <div class="nav-bar__link-burger-btn" @click="openBurger = !openBurger">
          <div class="menu"
               :class="{'active': openBurger, 'back': !openBurger}"
          >
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>

      </div>
      <div class="nav-bar__link-burger" :class="{'nav-bar__link-burger_open': openBurger}">
        <nuxt-link to='/menu' class="nav-bar__link">Меню</nuxt-link>
        <nuxt-link to='/stocks' class="nav-bar__link">Акции</nuxt-link>
        <nuxt-link to='/delivery' class="nav-bar__link">Доставка</nuxt-link>
      </div>
      <nuxt-link to='/basket' class="header__basket">
        <div class="header__price-icon"></div>
        {{ basketCount }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import Logo from '../components/Logo'

  export default {
    name: "Header",
    components: {
      Logo
    },
    data() {
      return {
        openBurger: false
      }
    },
    computed: {
      basketCount() {
        return this.$store.getters['basket/getBasketSum']
      }
    },
    methods: {}
  }
</script>

<style scoped lang="scss">
  $t: 0.2s;
  $delay: 0.05s;

  .menu {
    overflow: hidden;
    padding: 15px;
    cursor: pointer;

    &.active {
      &:before {
        animation: slideLeft $t $delay ease-out forwards;
      }

      &:after {
        animation: slideRight $t $delay ease-out forwards
      }

      .bar {
        animation: rotate45 $t ease-out forwards;

        &:last-child {
          animation: rotate135 $t $t ease-out forwards
        }
      }
    }

    &.back {
      &:before {
        transform: translateX(-120%);
        animation: slideBack $t $delay ease-out forwards;
      }

      &:after {
        transform: translateX(120%);
        animation: slideBack $t $delay ease-out forwards;
      }

      .bar {
        transform: rotate(-45deg);
        animation: rotateBack $t ease-out forwards;

        &:last-child {
          transform: rotate(-135deg);
          animation: rotateBack $t $t ease-out forwards;
        }
      }
    }

    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background: white;
    }

    &:after {
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background: white;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      background: white;
      margin: 6px 0;

      &:last-child {
        opacity: 0;
        transform: rotate(-45deg);
        position: absolute;
        top: 18px;
      }
    }
  }

  @keyframes rotate135 {
    form {
      opacity: 1;
      transform: rotate(-45deg);
    }
    to {
      opacity: 1;
      transform: rotate(-135deg);
    }
  }

  @keyframes rotate45 {
    to {
      transform: rotate(-45deg)
    }
  }

  @keyframes rotateBack {
    to {
      transform: rotate(0)
    }
  }

  @keyframes slideRight {
    to {
      transform: translateX(180%)
    }
  }

  @keyframes slideLeft {
    to {
      transform: translateX(-180%)
    }
  }

  @keyframes slideBack {
    to {
      transform: translateX(0)
    }
  }

  .header {
    padding: 15px 0;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }

    &__price-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: url("../static/cart.png") no-repeat center;
    }

    &__basket {
      color: #ffffff;
      outline: none;
      text-decoration: none;
      transition: all 0.3s;
      min-width: 120px;
      box-sizing: border-box;
      background: #edb01e;
      padding: 9px;
      border-radius: 3px;
      text-align: right;
      white-space: nowrap;
      cursor: pointer;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      @media screen and (max-width: 1000px) {
        max-width: 300px;
        width: 100%;
        margin: 10px auto;
      }

      &:hover {
        background: #dea51e;
      }
    }
  }

  .header__logo {
    margin-right: 30px;

    @media screen and (max-width: 1000px) {
      display: flex;
    }
  }

  .nav-bar {
    display: flex;
    @media screen and (max-width: 1000px) {
      justify-content: space-between;
    }

    &__burger-bun {
      height: 3px;
      width: 35px;
      background: white;
      margin-bottom: 4px;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &__link-container {
      display: flex;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &__link-burger, &__link-burger-btn {
      position: relative;
      display: none;

      @media screen and (max-width: 1000px) {
        display: block;
      }
    }

    &__link-burger {
      margin-top: 10px;
      height: 0;
      transition: 0.3s;
      overflow: hidden;

      &_open {
        height: 100px;
      }
    }

    &__link {
      color: #ffffff;
      margin: 10px;
      cursor: pointer;
      text-decoration: none;
      @media screen and (max-width: 1000px) {
        display: block;
        text-align: center;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

</style>
