<template>
  <div class="category">
    <div class="container container_flex container_justify_between">
      <nuxt-link to='/menu/pizza' active-class='category__link_active' class="category__link">
        <div class="category__img  category__img_pizza"></div>
        <div class="category__text">Пицца</div>
      </nuxt-link>
      <nuxt-link to='/menu/rolls' active-class='category__link_active' class="category__link">
        <div class="category__img  category__img_rolls"></div>
        <div class="category__text">Роллы</div>
      </nuxt-link>
      <nuxt-link to='/menu/drinks' active-class='category__link_active' class="category__link ">
        <div class="category__img category__img_drinks"></div>
        <div class="category__text">Напитки</div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>

  export default {
    name: "NavBar",
    components: {},
    data() {
      return {}
    },
  }
</script>

<style scoped>
  .category {
    background: url("../static/background.jpg");
    text-align: center;
    margin-bottom: 16px;
  }

  .category__link {
    cursor: pointer;
    transition: 0.2s;
    padding: 8px 16px 16px;
    text-decoration: none;
    color: black;
  }

  .category__link:hover {
    background: rgba(255, 244, 225, 0.8);
  }

  .category__link_active {
    background: rgba(255, 244, 225, 0.8);
    color: red;
  }

  .category__img {
    background: no-repeat center /contain;
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }

  .category__img_pizza {
    background-image: url('../static/pizza.png')
  }

  .category__img_rolls {
    background-image: url('../static/cold-rolls.png')
  }

  .category__img_drinks {
    background-image: url('../static/drinks.png')
  }
</style>
