<template>
  <div>
    <Header></Header>
    <nuxt/>
  </div>
</template>
<script>
  import NavBar from '../components/NavBar'
  import Header from '../components/Header'

  export default {
    components: {
      Header,
      NavBar
    }
  }
</script>
<style lang="scss">
  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    padding: 0;
  }

  body {
    padding: 0;
    margin: 0;
    background: #fff4e1;
  }

  .container {
    width: 1000px;
    margin: 0 auto;

    &_column {
      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }
    @media screen and (max-width: 1000px) {
      width: 100%;
      overflow-y: scroll;
    }
  }

  .container_flex {
    display: flex;
  }

  .container_justify_between {
    justify-content: space-between;

  }

  .container_align_center {
    align-items: center;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: normal;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
