<template>
  <div class="container content">
    <card v-for="food of foods"
          :food='food'
          :id=food._id
          :key=food._id
          categoryUrl='/rolls/'
    ></card>
  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import Card from '~/components/Card.vue'
  import axios from 'axios'

  export default {
    components: {
      Logo,
      Card
    },
    data() {
      return {
        foods: []
      }
    },
    created() {
      axios.get('/getMenu?m=2').then((data) => (this.foods = data.data))
    }
  }
</script>

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
