<template>
  <div class="basket">
    <div class="basket__header">
      <div class="container container_flex container_column">
        <div class="basket__title">Корзина</div>
        <div class="basket__btn-container">
          <div class="basket__btn" @click="clearBasket">Очистить</div>
          <nuxt-link class="basket__btn" to='/order'>
            Оформить заказ
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="basket__content">
      <div class="basket__products" v-if="foods.length">
        <BaskedFood
          v-for="foodObject of foods"
          :food='foodObject.food'
          :count='foodObject.count'
          :id='foodObject.id'
          :key='foodObject.id'
          :url='foodObject.url'
          @changeFoodCount='changeFoodCount'
        ></BaskedFood>
      </div>
      <div v-else class="container">
        <div class="basket__empty">Ваша корзина пуста</div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex'
  import BaskedFood from '~/components/BasketFood'

  export default {
    name: "basket",
    components: {
      BaskedFood
    },
    data() {
      return {
        count: 0
      }
    },
    computed: {
      ...mapGetters([{getBasket: 'basket/getBasket'}, {getBasketCount: 'basket/getBasketCount'}]),
      foods() {
        return this.$store.getters['basket/getBasket']
      }
    },
    methods: {
      ...mapActions({changeFood: 'basket/changeFood', changeCount: 'basket/changeFoodCount'}),
      ...mapMutations({clear: 'basket/clear'}),
      multiply(food, count) {
        return food * count
      },
      changeFoodCount(data) {
        this.changeCount(data);
      },
      clearBasket() {
        this.clear()
      }
    }
  }
</script>

<style scoped lang="scss">

  .basket {
    &__header {
      background: #333;
      width: 100%;
      padding: 20px;
      margin: 0;
      color: #fff;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      box-sizing: border-box;
    }

    &__empty {
      text-align: center;
      padding: 50px;
    }

    &__title {
      flex: 1 1;
      text-align: center;
      font-size: 24px;
      @media screen and (max-width: 1000px) {
        margin-bottom: 16px;
      }
    }

    &__description {
      flex: 1 1;
    }

    &__products {
      background: #f5e6d0;
      width: 1000px;
      border-radius: 10px;
      margin: 0 auto;

      @media screen and (max-width: 1000px) {
        justify-content: center;
        width: 100%;
      }
    }

    &__product {
      width: 100%;
      height: 100px;
      padding: 16px;
      border-bottom: 5px dotted white;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      @media screen and (max-width: 1000px) {
        justify-content: center;
        flex-direction: column;
        height: auto;
      }
    }

    &__count-container {
      display: flex;
      align-items: center;
      margin-right: 50px;
    }

    &__count {
      margin: 0 16px;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #edb01e;
      font-size: 20px;
      color: white;
      margin: 0 10px;
      padding: 5px 10px;
      border-radius: 5px;
      text-decoration: none;
      transition: 0.3s;
      vertical-align: center;
      cursor: pointer;
      @media screen and (max-width: 1000px) {
        text-align: center;
      }

      &:hover {
        background: #dea51e;
      }
    }

    &__btn-container {
      display: flex;
    }

    &__img-container {
      width: 100px;
      height: 76px;
      margin-right: 16px;
      border-radius: 10px;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__price {
      text-align: center;
      margin-right: 32px;
    }

    &__text {
      &_bold {
        font-weight: bold;
      }
    }

  }
</style>
