<template>
  <div class="container">
    <div class="delivery">
      <div class="delivery__header"></div>
      <div class="delivery__content">Бесплатная доставка по городу осуществляется при заказе от 1000р. ЖК Панорама от
        300р.
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "delivery"
  }
</script>

<style scoped>
  .delivery {
    font-size: 20px;
    padding: 20px;
  }
  .delivery__header {
    background: #333;
    text-align: center;
    font-size: 26px;
  }

</style>
