<template>
  <div class="container content">
    ГЛАВНАЯ СТРАНИЦА
  </div>
</template>

<script>

  export default {
    components: {},
    middleware: ['index']
  }
</script>

<style lang="scss">

</style>
