<template>
  <div>
    <NavBar></NavBar>
    <nuxt-child/>
  </div>
</template>

<script>
  import Card from '~/components/Card.vue'
  import NavBar from '~/components/NavBar'

  export default {
    components: {
      NavBar,
      Card
    },
    middleware: ['menu']
  }
</script>

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
