<template>
  <div class="content">
    <div v-if="!orderDone" class="form-card">
      <ValidationObserver v-slot="{ handleSubmit }">
        <div class="form-card__body">
          <div class="form-card__header">
            Заказчик
          </div>
          <div class="form-card__section form-card__section_info">
            <div class="form-card__field-wrapper">
              <ValidationProvider rules="required" v-slot="{ errors }">
                <BaseInput
                  placeholder='Имя'
                  v-model="orderData.name"
                  :errorMessage="errors[0]"
                ></BaseInput>
              </ValidationProvider>
            </div>
            <div class="form-card__field-wrapper">
              <ValidationProvider rules="required" v-slot="{ errors }">
                <BaseInput
                  placeholder='Телефон'
                  v-mask="'+7 (###) ###-##-##'"
                  v-model="orderData.phone"
                  :errorMessage="errors[0]"
                ></BaseInput>
              </ValidationProvider>
            </div>
          </div>
          <div class="form-card__header">
            Адрес
          </div>
          <div class="form-card__section form-card__section_info">
            <div class="form-card__field-wrapper">
              <ValidationProvider rules="required" v-slot="{ errors }">
                <BaseInput
                  placeholder='Улица'
                  v-model="orderData.street"
                  :errorMessage="errors[0]"
                ></BaseInput>
              </ValidationProvider>
            </div>
            <div class="form-card__field-wrapper">
              <ValidationProvider rules="required" v-slot="{ errors }">
                <BaseInput
                  placeholder='Дом'
                  v-model="orderData.house"
                  :errorMessage="errors[0]"
                ></BaseInput>
              </ValidationProvider>
            </div>
            <div class="form-card__field-wrapper">
              <BaseInput
                placeholder='Подъезд'
                v-model="orderData.porch"
              ></BaseInput>
            </div>
            <div class="form-card__field-wrapper">
              <BaseInput
                v-model="orderData.floor"
                placeholder='Этаж'
              ></BaseInput>
            </div>
            <div class="form-card__field-wrapper">
              <BaseInput
                v-model="orderData.apartment"
                placeholder='Квартира'
              ></BaseInput>
            </div>
          </div>
          <div class="form-card__footer">
            <button class="form-card__btn"
                    @click="handleSubmit(handlerFormSubmit)"
            >Оформить заказ
            </button>
          </div>
        </div>
      </ValidationObserver>
    </div>
    <div v-else> Вы успешно совершили заказ</div>
  </div>
</template>

<script>
  import {ValidationProvider, ValidationObserver, extend} from '../plugins/vee-validate';
  import {required} from '../plugins/vee-validate/dist/rules';
  import {mask} from 'vue-the-mask'
  import axios from 'axios'

  import BaseInput from '../components/core/BaseInput'

  extend('required', {
    ...required,
    message: 'Заполните поле'
  });

  export default {
    name: "order",
    components: {
      BaseInput,
      ValidationProvider,
      ValidationObserver
    },
    directives: {mask},
    data() {
      return {
        orderData: {
          name: '',
          phone: '',
          street: '',
          house: '',
          porch: '',
          floor: '',
          apartment: ''
        },
        orderDone: false
      }
    },
    computed: {
      foods() {
        return this.$store.getters['basket/getBasketForOrder']
      }
    },
    methods: {
      handlerFormSubmit() {
        if (!this.foods.length) {
          alert('Ваша корзина пуста');
          return;
        }

        const orderObject = {
          order: this.foods,
          phone: this.orderData.phone,
          address: `${this.orderData.street} ${this.orderData.house} ${this.orderData.porch} ${this.orderData.floor}`
        };
        axios({
          method: 'post',
          url: "/makeOrder",
          data: orderObject
        }).then(response => {
          if (response.data === 'OK') {
            this.orderDone = true;
            return;
          }

          alert('Произошла ошибка, попробуйте позже')
        })
          .catch(error => alert('Произошла ошибка, попробуйте позже'));

      }
    },
    middleware({store, redirect}) {
      if (!store.state.basket.basket.length) {
        return redirect('/menu')
      }
    }

  }
</script>

<style scoped lang="scss">
  .form-card {
    width: 400px;

    &__header {
      background: #edb01e;
      text-align: center;
      padding: 10px 0;

      &:first-child {
        border-radius: 10px 10px 0 0;
      }
    }

    &__body {
      background: #f5e6d0;
      border-radius: 10px;
    }

    &__section {
      display: flex;
      justify-content: space-between;
      padding: 24px 16px;
      flex-wrap: wrap;
      @media screen and (max-width: 1000px) {
        justify-content: center;
      }

    }

    &__field-wrapper {
      margin-bottom: 30px;
    }

    &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__btn {
      box-sizing: border-box;
      background: #edb01e;
      padding: 9px 20px;
      border-radius: 3px;
      text-align: right;
      white-space: nowrap;
      cursor: pointer;
      margin: 0 10px 10px;
      color: #fff;
      font-size: 16px;
      border: none;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
</style>
