<template>
  <div class="container">
    <div class="delivery">
      <div class="delivery__header"></div>
      <div class="delivery__content">Здесь могли быть акции, но их нет :)
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "stocks"
    }
</script>

<style scoped>
  .delivery {
    font-size: 20px;
    padding: 20px;
  }
  .delivery__header {
    background: #333;
    text-align: center;
    font-size: 26px;
  }
</style>
