<template>
  <div class="base-input">
    <div class="base-input__wrapper">
      <div class="base-input__placeholder"
           :class="{'base-input__placeholder_active': focus}"
           @click="focusToInput"
      >
        {{placeholder}}
      </div>
      <input type="text"
             class="base-input__input"
             :class="{'base-input__input_error': errorMessage}"
             @focus="setFocus"
             @blur="unsetFocus"
             v-model="value"
             @input='emitInput'
             ref="input"
      >
    </div>
    <div v-if="errorMessage"
         class="base-input__error"
    >
      {{errorMessage}}
    </div>

  </div>
</template>

<script>

  export default {
    name: "BaseInput",
    data() {
      return {
        focus: false,
        value: ''
      }
    },
    props: {
      placeholder: {
        default: ''
      },
      errorMessage: {
        default: ''
      }
    },
    methods: {
      setFocus() {
        this.focus = true;
      },
      unsetFocus() {
        if (!this.value) {
          this.focus = false;
        }

      },
      focusToInput() {
        this.$refs.input.focus()
      },
      emitInput() {
        this.$emit('input', this.value)
      }

    }

  }
</script>

<style scoped lang="scss">
  .base-input {
    &__wrapper {
      position: relative;
    }

    &__placeholder {
      position: absolute;
      top: 7px;
      left: 10px;
      transition: 0.3s;
      font-size: 18px;

      &_active {
        transform: translateY(-30px);
        font-size: 16px;
      }
    }

    &__error {
      color: red;
    }

    &__input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #9e9586;
      width: 168px;
      box-sizing: border-box;
      outline: none;

      &:focus {
        box-shadow: 0 0 0 1px #615b51;
      }

      &_error {
        box-shadow: 0 0 0 1px red;
      }
    }
  }
</style>
